body{
    background: rgb(0, 0, 0);
}
#toss{
    position: absolute;
    width: 300px;
height: 40px;
top: 500px;
left: 250px;
border-radius: 10px;
border: 2px solid #FFFFFF;
font-size: 21px;
font-weight: 600;
line-height: 25px;
letter-spacing: 0.1em;
text-align: center;
color: #FFFFFF;
background-color:rgb(0, 0, 0) ;
}
#player{
    position: absolute;
    width: 300px;
height: 40px;
top: 640px;
left: 250px;
border-radius: 10px;
border: 2px solid #FFFFFF;
font-size: 21px;
font-weight: 600;
line-height: 25px;
letter-spacing: 0.1em;
text-align: center;
color: #FFFFFF;
background-color:rgb(0, 0, 0) ;
}
#result{
    position: absolute;
    width: 300px;
height: 40px;
top: 780px;
left: 250px;
font-size: 40px;
font-weight: 700;
line-height: 80px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}
#reset{
    position: absolute;
    width: 300px;
height: 40px;
top: 920px;
left: 250px;
border-radius: 10px;
border: 2px solid #FFFFFF;
font-size: 21px;
font-weight: 600;
line-height: 25px;
letter-spacing: 0.1em;
text-align: center;
color: #FFFFFF;
background-color:rgb(0, 0, 0) ;
}
