body{
    background: rgb(0, 0, 0);
}
#toss{
    position: absolute;
    width: 500px;
height: 120px;
top: 500px;
left: 250px;
border-radius: 30px;
border: 6px solid #FFFFFF;
font-size: 63px;
font-weight: 600;
line-height: 25px;
letter-spacing: 0.1em;
text-align: center;
color: #FFFFFF;
background-color:rgb(0, 0, 0) ;
}
#player{
    position: absolute;
    width: 500px;
height: 120px;
top: 720px;
left: 250px;
border-radius: 30px;
border: 6px solid #FFFFFF;
font-size:63px;
font-weight: 600;
line-height: 25px;
letter-spacing: 0.1em;
text-align: center;
color: #FFFFFF;
background-color:rgb(0, 0, 0) ;
}
#result{
    position: absolute;
    width: 500px;
height: 120px;
top: 940px;
left: 250px;
font-size: 120px;
font-weight: 700;
line-height: 80px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}
#reset{
    position: absolute;
    width: 500px;
height: 120px;
top: 1160px;
left: 250px;
border-radius: 30px;
border: 6px solid #FFFFFF;
font-size: 63px;
font-weight: 600;
line-height: 25px;
letter-spacing: 0.1em;
text-align: center;
color: #FFFFFF;
background-color:rgb(0, 0, 0) ;
}
